video {
    position: absolute;
    width: 90vw;
    height: 70vh;
    top: 3vh;
    left: 5vw;
}

body {
      background-color: #448672
}

#logo {
    height:10vh;
    width:21vw;
    animation: pulse 12s ease-in infinite;
}
#logo_cot{
    animation: mymove 10s ease-in infinite;
}
@keyframes pulse{
  25%  {transform: scale(0.8);}
  75%  {transform: scale(1.0);}
}
@keyframes mymove {
  50% {transform: rotate(360deg);}
}
#name {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Ubuntu', sans-serif;
   font-size: 4vh;
   color: white;
}
#verify_emo {
  position: absolute;
  top: 56vh;
  left: 32vw;
  visibility: hidden;
  transition:visibility 0.8s ease-in-out;
}
#smile {
  width: 35vw;
}
#verify_text{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 6vh;
  color: white;
  position: absolute;
  top: 65vh;
  left: 0vw;
  opacity = 1.0;
  transition: opacity 1s ease-in-out;
}
